<a href="#" id="logo"><%= image_tag 'logo-main.png', width: '300' %></a>
<div class="row row-full">
  <div class="column col-6 left">
    <div>
      <%= image_tag 'handjob.png', width: '180', id: 'left-img' %>
      <p id="left-content">Gay man giving you a soft and gentle handjob</p>
    </div>
    <span>Answer<br/>This</span>
  </div>
  <div class="column col-6 right">
    <div>
      <%= image_tag 'fingering.png', width: '100', id: 'right-img' %>
      <p id="right-content">Lesbian giving you a hard ass fingering</p>
    </div>
    <span>Answer<br/>This</span>
  </div>
</div>